<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./style.css">
    <title>Tech-Shop</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo"><h2>Tech-Shop</h2></div>
            <div class="navbar">
                <div class="search-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <p class="tooltip">Search</p>
                </div>
                <div class="cart-icon">
                    <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
                    <p class="tooltip">cart</p>
                </div>
                <div class="profile-icon">
                    <i class="fa-solid fa-user"></i>
                    <div class="profile-card">
                        <h3>Hello!</h3>
                        <p>Access account and manage orders</p>
                        <button class="signup-btn"><a href="#signin">Login/Signup</a></button>
                        <hr>
                        <p>Please Login</p>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="form">
        <div class="signin">
            <h3>Login</h3>
            <p>New to Tech-Shop? <a href="#signup">Create an account</a></p>
            <input type="text" placeholder="Username"><br>
            <input type="password" placeholder="Password"><br>
            <button class="signin-btn">Signin</button>
        </div>

        <div class="signup" id="signup">
            <h3>Signup</h3>
            <p>Already have an account? <a href="#signin">Login</a></p>
            <input type="text" placeholder="Username"><br>
            <input type="email" placeholder="Email"><br>
            <input type="password" placeholder="Password"><br>
            <input type="text" placeholder="Confirm Password"><br>
            <button class="signup-btn">Signup</button>
        </div>

        <div class="seperator">
            <span> or login with </span>
        </div>

        <div>
            <button class="social facebook">Facebook</button>
            <button class="social google">Google</button>
            <button class="social twitter">Twitter</button>
        </div>
    </div>
</body>
</html>