<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./Product_details.css">
    <title>Product Details</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <h2>Tech-Shop</h2>
            </div>
            <div class="navbar">
                <div class="search-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <span class="tooltip">Search</span>
                </div>
    
                <div class="cart-icon">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span class="tooltip">Cart</span>
                </div>
    
                <div class="profile-icon">
                    <i class="fa-solid fa-user"></i>
                    <div class="profile-card">
                        <h3>Hello!</h3>
                        <p>Access account and manage orders</p>
                        <button class="signup-btn"><a href="#signin">Login/Signup</a></button>
                        <hr>
                        <p>Please Login</p>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="product-details">
        <div class="product-imgs">
            <img src="../images/products/jbl660nc-1.png" alt="">
            <img src="../images/products/jbl660nc-2.png" alt="">
            <img src="../images/products/jbl660nc-3.png" alt="">
            <img src="../images/products/jbl660nc-4.png" alt="">
        </div>

        <div class="main-product">
            <img src="../images/products/jbl660nc-1.png" alt="">
        </div>

        <div class="desc">
            <div class="text">
                <h3>JBL Live 660NC</h3>
                <p>Wireless Over-Ear NC Headphones</p>
                <div class="ratings">
                    <i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
                    <span> | 1234 ratings</span>
                </div>
            </div>
            <hr>
            <div class="price">
                <div>
                    <p class="sp">$9,999 <span><strike>$14,999</strike></span></p>
                    <p class="saved">You save:$5000 (33%)</p>
                    <span>(Inclusive of all Taxes)</span>
                </div>
                <div>
                    <i class="fa-solid fa-check"></i> In stock
                </div>
            </div>
            <hr>
            <div class="offers">
                <h3>Offers and Discounts</h3>
                <div class="discounts">
                    <div>No Cost EMI on Credit Card</div>
                    <div>Pay later & Avail Cashback</div>
                </div>
            </div>
            <hr>
            <button class="atc-btn">Add to Cart</button>
        </div>
    </div>
</body>
</html>